body {
    background-color: #F4E4E1;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 50%;
    height: auto
}